<!DOCTYPE html>
<html lang="en-us">
  <head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Bootstrap Basic Portfolio</title>

    <!-- Boostrap Stylesheet -->
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script  src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://fezvrasta.github.io/bootstrap-material-design/dist/js/material.min.js"></script>
    <script src="https://fezvrasta.github.io/bootstrap-material-design/dist/js/ripples.min.js"></script>
   <script src="https://cdn.firebase.com/libs/firebaseui/2.1.1/firebaseui.js"></script>
    <script src="https://cdn.firebase.com/js/client/2.2.4/firebase.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.1.2/firebase.js"></script>


    <!-- Our own CSS stylesheet -->

    <style type="text/css">
      body{
        background-color:#F70D1A;
      }
      .navbar-right-custom {
        font-size:25px;
      }
      nav {
        padding-left:10%;
        padding-right:10%;
        padding-bottom:10px;
      }
      .userName {
        font-size: 30px;
        text-align: center;
        padding:20px;
      }
      #logo {
        width:80%;
      }
      .about-me-content {
        border:solid;
        overflow:auto;
        background-color:white;
        text-align: center;
        padding:20px;
      }
      .hate-content{
        border:solid;
        height:600px;
        background-color:white;
        text-align: center;
        padding:20px;
      }
      .wrap {
        padding-bottom:15px;
      }
      #profile-image {
        padding:10px;
      }
      footer {
        background-color:#FBBBB9;
        padding:10px;
        width:100%;
        font-size: 15px;
      }
      #horoscope-area{
        border:solid;
        height:100px;
        background-color:white;
        text-align: center;
        padding:20px;
      }
      
    </style>

  </head>

  <body>
    <!-- Start of navbar -->
    <nav class="navbar navbar-default">
      <div class="container-fluid navbar-custom">

        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="row">
          <div class="navbar-header">
 
            <div class="col-xs-12 phone-nav">  
               <div id="loading">Loading...</div>
      <div id="loaded" class="hidden">
        <div id="main">
          <div id="user-signed-in" class="hidden">
            <div id="user-info">
              <div id="photo-container">
                <img id="photo">
              </div>
              <div id="name"></div>
              <div id="email"></div>
              <div id="phone"></div>
              <div class="clearfix"></div>
            </div>
            <p>
              <button id="sign-out">Sign Out</button>
              <button id="delete-account">Delete account</button>
            </p>
          </div>
          <div id="user-signed-out" class="hidden">
            <h4>You are signed out.</h4>
           
            <div id="firebaseui-spa">
              <h5>Single Page Application mode:</h5>
              <div id="firebaseui-container"></div>
            </div>
          </div>
        </div>
      </div>
            </div>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right navbar-right-custom">
              <li><a href="profile.html">My Profile</a></li>
              <li><a href="survey.html">Survey</a></li>
              <li><a href="index.html">Log Out</a></li>
            </ul>
          </div><!-- /.navbar-collapse -->
        </div>
      </div><!-- /.container-fluid -->
    </nav>
    <!-- End of navbar -->


    <!-- Start of content wrap -->
    <div class="wrap">
      <div class="container">
        <section class="row">
          <div class="col-md-4">
            <article class="about-me-content">

            <!-- Sumbit Photo -->
              
          <div ng-app='img2fire'>
            <div ng-controller='base64Ctrl'>
        <div class="container-fluid">
        <p class="text-info" align="center">Upload Your Profile Photo</p>
       <hr />

      <form ng-submit="uploadFile()">
        <input type="file" name="file" class="inputimg" id="nameImg" accept="image/*">       
        <br />
        <span class="input-group-btn">
          <button  type="submit" class="btn btn-block"> 
                  <i class="material-icons">Submit Photo</i>
                </button>
          </span>
      </form>
      <hr />
      <div ng-repeat="img in imgs | toArray | orderBy: '-date'" class="col-xs-12 col-sm-6 col-md-3">
        <img ng-src="{{img.base64}}">
        <a class="btn btn-danger btn-block" ng-click="deleteimg(img.$id)">Delete</a>
      </div>
    </div>
  </div>

      <hr>

               <!--  Form Info-->

              <div id="location"></div>
              <div id="age"></div>
              <div id=""></div>

              <!-- Profile Form to capture info-->
         <form id="profile-info">
              <label for="age-input">Email:</label>
              <input class="form-control" id="profile-email" type="text">
              <label for="age-input">First Name:</label>
              <input class="form-control" id="profile-first-name" type="text">
              <label for="age-input">Last Name:</label>
              <input class="form-control" id="profile-last-name" type="text">
              <label for="age-input">Age:</label>
              <input class="form-control" id="profile-age" type="text">
              <label for="age-input">Gender:</label>
              <input class="form-control" id="profile-gender" type="text">
              <label for="age-input">City:</label>
              <input class="form-control" id="profile-city" type="text">
              <label for="age-input">State:</label>
              <input class="form-control" id="profile-state" type="text">

              <button class="btn btn-default" id="add-profile" type="submit">Submit</button>
          </form>
            </article>

        
          </div>
          
          <div class="col-md-8">
            <!-- Start of Connect With Me Area -->
            <div class="row">
            <section id="horoscope-area">
              <span id="location-form">
                <input type="text" id="location-input">
                <input id="add-weather" type="submit" value="Enter Location">

                
               <div id="weatherDisplay" class="weatherDiv"></div>

              </span>
              </section>
              </div>
              </div>
            <div class="col-md-8">
              <div class="row">
            <section id="hate-area">
              <div class="hate-content">
                <h1 class="hate-header">People I Matched With</h1>
                  <div id="images">
                  <img src="http://placehold.it/200x200" alt="" class="connect-with-me-photo">
                  <img src="http://placehold.it/200x200" alt="" class="connect-with-me-photo">
                  <img src="http://placehold.it/200x200" alt="" class="connect-with-me-photo">
                </div>
              </div>
            </section>

          </div>
        </section>
      </div>
    </div>
    <!-- End of content wrap -->

    <!-- Start of footer -->
<div class="row">
  <footer class="footer">
    <section id="social-media-area" style="text-align:center">
      <div class="social-media-content">
        <div class="images">
          <img src="#" alt="" class="social-media-photo">
          <img src="#" alt="" class="social-media-photo">
          <img src="#" alt="" class="social-media-photo">
        </div>
      </div>
      <div class="about-us">
        <a href="#" class="info">About Us</a>
        <a href="#" class="info">Company</a>
      </div>
      <div class="copyright">&copy; Hate Date 2017</div>
    </section>
    </div>
  </footer>      
</div>
    <!-- End of footer -->

    <!-- jQuery CDN -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>

    <!-- Bootstrap CDN -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <script>
  var config = {
  apiKey: "AIzaSyCsk5WGqR1YlbaJiCnYbs1lgPgEQZAopr8",
  authDomain: "hate-date.firebaseapp.com",
  databaseURL: "https://hate-date.firebaseio.com",
  projectId: "hate-date",
  storageBucket: "hate-date.appspot.com",
  messagingSenderId: "509489897704"
};
firebase.initializeApp(config);
/**
 * @return {!Object} The FirebaseUI config.
 */
function getUiConfig() {
  return {
    'callbacks': {
      // Called when the user has been successfully signed in.
      'signInSuccess': function(user, credential, redirectUrl) {
        window.location.assign("profile.html")  
      }
    },
    // Opens IDP Providers sign-in flow in a popup.
    'signInFlow': 'popup',
    'signInOptions': [
      // TODO(developer): Remove the providers you don't need for your app.
      {
        provider: firebase.auth.EmailAuthProvider.PROVIDER_ID,
        // Whether the display name should be displayed in Sign Up page.
        requireDisplayName: true
      },
      {
        provider: firebase.auth.PhoneAuthProvider.PROVIDER_ID,
        
      }
    ],
    // Terms of service url.
    'tosUrl': 'https://www.google.com'
  };
}

// Initialize the FirebaseUI Widget using Firebase.
var ui = new firebaseui.auth.AuthUI(firebase.auth());

/**
 * Displays the UI for a signed in user.
 * @param {!firebase.User} user
 */
var handleSignedInUser = function(user) {
  document.getElementById('user-signed-in').style.display = 'block';
  document.getElementById('user-signed-out').style.display = 'none';
  document.getElementById('name').textContent = user.displayName;
  document.getElementById('email').textContent = user.email;
  document.getElementById('phone').textContent = user.phoneNumber;
  if (user.photoURL){
    document.getElementById('photo').src = user.photoURL;
    document.getElementById('photo').style.display = 'block';
  } else {
    document.getElementById('photo').style.display = 'none';
  }

};


/**
 * Displays the UI for a signed out user.
 */
var handleSignedOutUser = function() {
  document.getElementById('user-signed-in').style.display = 'none';
  document.getElementById('user-signed-out').style.display = 'block';
  ui.start('#firebaseui-container', getUiConfig());

};

// Listen to change in auth state so it displays the correct UI for when
// the user is signed in or not.
firebase.auth().onAuthStateChanged(function(user) {
  document.getElementById('loading').style.display = 'none';
  document.getElementById('loaded').style.display = 'block';
  user ? handleSignedInUser(user) : handleSignedOutUser();


});

/**
 * Deletes the user's account.
 */
var deleteAccount = function() {
  firebase.auth().currentUser.delete().catch(function(error) {
    if (error.code == 'auth/requires-recent-login') {
      // The user's credential is too old. She needs to sign in again.
      firebase.auth().signOut().then(function() {
        // The timeout allows the message to be displayed after the UI has
        // changed to the signed out state.
        setTimeout(function() {
          alert('Please sign in again to delete your account.');
        }, 1);
      });
    }
  });
};

/**
 * Initializes the app.
 */
var initApp = function() {
  document.getElementById('sign-out').addEventListener('click', function() {
    firebase.auth().signOut();
  });
  document.getElementById('delete-account').addEventListener(
      'click', function() {
        deleteAccount();
      });

};

window.addEventListener('load', initApp);


$("#add-weather").on("click", function(event) {

event.preventDefault();

// This line will grab the text from the input box
var restaurant = $("#location-input").val().trim();
// The movie from the textbox is then added to our array
var queryURL = "https://developers.zomato.com/api/v2.1/search?entity_id="+restaurant+"&apikey=b79214ee05ebf45e51ded6595e897f8d";

// Here we run our AJAX call to the OpenWeatherMap API
$.ajax({
    url: queryURL,
    method: "GET"
  })
// We store all of the retrieved data inside of an object called "response"
.done(function(response) {

console.log(queryURL);

console.log(response);

console.log(response.restaurants[Math.floor((Math.random() * 20) + 1)].restaurant.name);

// var horoscopeMood = response.
});
});


</script>

  </body>

</html>